[class*="main-wrapper"] {
  margin: 0 auto;
  max-width: 480px;
  min-height: 100dvh;
  background-color: var(--block-bg-color);
  
border: black solid 1px;
}
body {
  background: var(--tg-theme-secondary-bg-color);
  position: relative;

}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    color: var(--tg-theme-text-color);
}
:root {
  /* Tg black theme  */
  /* --tg-theme-bg-color: #212121;
  --tg-theme-text-color: #ffffff;
  --tg-theme-hint-color: #aaaaaa;
  --tg-theme-link-color: #8774e1;
  --tg-theme-button-color: #8774e1;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #0f0f0f; */
  /*Tg white theme*/
  --tg-theme-bg-color: #ffffff;
  --tg-theme-button-color: #40a7e3;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #168acd;
  --tg-theme-secondary-bg-color: #f1f1f1;
  --tg-theme-text-color: #000000;
  /* Project vars  */
  --red: #e64d44;
  --green: #31b545;
  --yellow: #f8a917;
  --white: #fff;
}

input[type="number"],
input[type="tel"],
input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0px;
    border: none;
}
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
}